@font-face {
    font-family: arbfonts-dinnext;
    font-weight: 400;
    src: url('/Fonts//ArbFONTS-DINNextLTArabic-Regular-3.ttf');
}
@font-face {
    font-family: arbfonts-dinnext;
    font-weight: 500;
    src: url('/Fonts//ArbFONTS-DINNextLTArabic-Medium-2.ttf');
}
@font-face {
    font-family: arbfonts-dinnext;
    font-weight: 700;
    src: url('/Fonts//ArbFONTS-DINNextLTArabic-Bold-4.ttf');
}
@font-face {
    font-family: arbfonts-dinnext;
    font-weight: 300;
    src: url('/Fonts//DINNEXTLTARABIC-LIGHT-2-2.ttf');
}
