@import '../../helpers/variables';

// Start Hero
section.hero {
    background-image: url('../../../images/grass.png');
    border-bottom: 15px solid $main-green;
    min-height: 200px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    &::after {
        content: none;
    }
}
// End Hero

// Start Products

main.products {
    background-image: url('../../../images/flower\ lines.png');
    background-size: cover;
    padding: $section-outer-spacing 20px;
    position: relative;
    > img {
        position: absolute;
        top: 10px;
        right: 0;
        max-height: 75px;
        @media screen and (max-width: 992px) {
            max-height: 50px;
        }
    }
    .product {
        display: flex;
        justify-content: center;
        img {
            transition: 0.3s all;
        }
        &:hover {
            img {
                transform: translate(0, -25px);
            }
        }
    }
}
// End Products
