.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 1px 10px 8px 10px;
    transition: all 0.2s;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    &:hover {
        transform: translateY(-10px);
        background-color: transparentize($main-green, 0.2);
        color: white;
        font-weight: 500;
    }
}

.main-green{
    color: $main-green;
}

.dark-green{
    color: $dark-green;
}

.main-gold{
    color: $dark-gold;
}

.font-weight-bold{
    font-weight: 600;
}

.line-height-30{
    line-height: 30px;
}

.w-100{
    width: 100%;
}

.w-99{
    width: 99%;
}
