@import '../../helpers/variables';

// Start Hero
section.hero {
    background-image: url('../../../images/grass.png');
    min-height: 100px;
    color: $main-gold;
    text-align: center;
    text-transform: uppercase;
    &::after {
        content: none;
    }
}
// End Hero

// Start Contact
main.contact {
    .sub-title{
      color: #a9aec5;
    }
   .contact-info{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    color: #a9aec5;
   }
}

.contact-details{
    color: #a9aec5;
    ::placeholder{
        color: #a9aec5;
       }
       ::-webkit-input-placeholder{
        color: #a9aec5;
       }
       :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #a9aec5;
      }

      .form-control:focus, 
      .form-control:hover,
      .form-control:active,
      .form-control:focus-visible {
        box-shadow: none;
        outline: none;
        border-color: $main-green;
        border: 2px solid $dark-green !important;
        }

      textarea {
        resize: none;
      }
}
// End Contact

// Start Our-location
.our-location {
    min-height: 252px;
    background-color: #aaa;
    margin: 80px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
// End Our-location
