@font-face {
  font-family: arbfonts-dinnext;
  font-weight: 400;
  src: url("/Fonts//ArbFONTS-DINNextLTArabic-Regular-3.ttf");
}
@font-face {
  font-family: arbfonts-dinnext;
  font-weight: 500;
  src: url("/Fonts//ArbFONTS-DINNextLTArabic-Medium-2.ttf");
}
@font-face {
  font-family: arbfonts-dinnext;
  font-weight: 700;
  src: url("/Fonts//ArbFONTS-DINNextLTArabic-Bold-4.ttf");
}
@font-face {
  font-family: arbfonts-dinnext;
  font-weight: 300;
  src: url("/Fonts//DINNEXTLTARABIC-LIGHT-2-2.ttf");
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 1px 10px 8px 10px;
  transition: all 0.2s;
  color: white;
  text-decoration: none;
  border: 1px solid white;
}
.btn-container:hover {
  transform: translateY(-10px);
  background-color: rgba(16, 111, 79, 0.8);
  color: white;
  font-weight: 500;
}

.main-green {
  color: #106f4f;
}

.main-gold {
  color: #aa7b2d;
}

.font-weight-bold {
  font-weight: 600;
}

.line-height-30 {
  line-height: 30px;
}

html,
body {
  font-family: arbfonts-dinnext, Helvetica, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.navbar {
  position: relative;
  background-color: #eae6dd;
  min-height: 80px;
  font-size: 16px;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .navbar {
    font-size: 14px;
  }
}
.navbar .navbar-toggler {
  margin-left: 20px;
  border-color: rgb(226, 226, 226);
}
.navbar a.navbar-brand {
  overflow: visible;
  z-index: 1;
}
.navbar a.navbar-brand img {
  max-height: 100px;
}
@media screen and (max-width: 992px) {
  .navbar a.navbar-brand img {
    max-height: 50px;
  }
}
@media screen and (min-width: 1400px) {
  .navbar > div .navbar-nav {
    margin-right: 150px;
    align-items: center;
  }
}
.navbar > div .navbar-nav .nav-item {
  align-items: center;
}
.navbar > div .navbar-nav .nav-item img {
  width: 22px;
}
.navbar > div .navbar-nav .nav-item a.nav-link {
  color: #106f4f;
  margin: 0 20px;
  padding: 5px 20px 9px;
}
@media screen and (max-width: 1300px) {
  .navbar > div .navbar-nav .nav-item a.nav-link {
    margin: 0 5px;
  }
}
@media screen and (max-width: 1200px) {
  .navbar > div .navbar-nav .nav-item a.nav-link {
    padding: 5px 15px 9px;
  }
}
.navbar > div .navbar-nav .nav-item a.nav-link.active {
  margin-bottom: 1px;
  border-top: 1px solid #106f4f;
  border-bottom: 1px solid #106f4f;
  font-weight: 500;
}
@media screen and (max-width: 1200px) {
  .navbar > div .navbar-nav .nav-item a.nav-link.active {
    display: inline-flex;
    margin-left: 21px;
  }
}

.hero {
  position: relative;
  background: url("../images//Asset 1.png");
  min-height: calc(100vh - 80px);
  background-color: #106f4f;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
@media screen and (max-width: 992px) {
  .hero {
    text-align: center;
  }
}
.hero .read-more {
  background-color: #106f4f;
}
.hero .down-arrow {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.hero .down-arrow img {
  max-width: 35px;
}

.features {
  color: white;
}
.features__1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../images//Asset 2-1.png");
  background-repeat: no-repeat;
}
.features__2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../images//Asset 2-2.jpeg");
  background-repeat: no-repeat;
}
.features__3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../images//Asset 2-3.jpeg");
  background-repeat: no-repeat;
}

.plantation .carasoul-plantation {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.plantation .carasoul-plantation h2 {
  color: #106f4f;
  font-weight: bold;
}
.plantation .carasoul-plantation__content {
  position: relative;
  background-color: #106f4f;
  height: 50px;
  width: 100%;
}

.glimpse__1 {
  background-color: #006848;
  text-align: center;
  padding: 20px 10px;
  height: 345px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #e0b949;
}
.glimpse .btn-gallery {
  margin-top: 80px;
  color: #297e62;
  background-color: white;
  border: 1px solid #debc57;
}

.growth {
  background-color: #eae6dd;
}
.growth__1 {
  background-image: url("../images/1.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 300px;
}
@media screen and (max-width: 992px) {
  .growth__1 {
    background-size: 100% 100%;
  }
}

.gold-block {
  height: 10px;
  background-color: #aa7b2d;
}

.footer {
  background-image: url(../images/footer.png);
  color: #e0b949;
  padding: 60px 0 0 0;
}
@media screen and (max-width: 992px) {
  .footer {
    text-align: center;
  }
}/*# sourceMappingURL=styles.css.map */