@import './helpers/variables';
@import './helpers/fonts';

@import './components/main-btn';

// Start Globals
html,
body {
    font-family: arbfonts-dinnext, Helvetica, sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
// End Globals

// Start Navbar
.navbar {
    position: relative;
    background-color: $back-grey;
    min-height: 80px;
    font-size: 16px ;
    @media (min-width: 992px)  and (max-width: 1024px) {
        font-size: 14px ;
    }
    .navbar-toggler {
        margin-left: 20px;
        border-color: rgb(226, 226, 226);
    }
    a.navbar-brand {
        overflow: visible;
        z-index: 1;
      
        img {
            max-height: 100px;
            @media screen and (max-width: 992px) {
                max-height:50px;
            }
        }
    }
    > div {
        .navbar-nav {
            @media screen and (min-width: 1400px) {
                margin-right: 150px;
                align-items: center;
            }
            .nav-item {
                align-items: center;
                a.nav-link {
                    color:  $main-green;
                    margin: 0 20px;
                    @media screen and (max-width: 1300px) {
                        margin: 0 5px;
                    }
                    padding: 5px 22px 9px;
                    @media screen and (max-width: 1200px) {
                        padding: 5px 15px 9px;
                    }
                    &.active {
                        @media screen and (max-width: 1200px) {
                            display: inline-flex;
                            margin-left: 21px;
                        }
                      
                        margin-bottom: 1px;
                        border-top: 1px solid $main-green;
                        border-bottom: 1px solid $main-green;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
// End Navbar


// Start Hero
.hero {
    position: relative;
    background: url('../images//Asset\ 1.png');
    min-height: calc(100vh - 80px);
    background-color: $main-green;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

    @media screen and (max-width: 992px) {
       text-align: center;
    }

    .read-more{
       background-color: $main-green;
    }
    .down-arrow{
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        img {
            max-width: 35px;
        }
    }
}
// End Hero

.features{
    color: white;
    &__1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: url('../images//Asset\ 2-1.png');
        background-repeat: no-repeat;
    }

    &__2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: url('../images//Asset\ 2-2.jpeg');
        background-repeat: no-repeat;
    }

    &__3{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: url('../images//Asset\ 2-3.jpeg');
        background-repeat: no-repeat;
    }
}

//Start Glipmpse

@mixin flex-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.glimpse{

    &__1{
        background-color: $dark-green;
       text-align: center;
       padding: 20px 10px;
       height: 350px;
       @include flex-column();
       color: $main-gold;
    }

    .btn-gallery{
        margin-top: 80px;
        color: #297e62;
        background-color: white;
        border: 1px solid #debc57;
    }
}

//End Glimpse


// Start Growth
.growth{
    background-color: #eae6dd;
     &__1{
        background-image: url('../images/1.jpeg');
        background-repeat: no-repeat;
        background-size: auto 100%;
        height: 300px;
        @media screen and (max-width: 992px) {
            background-size: 100% 100%;
         }
     }
}
//End Growth

// Start Footer 
.gold-block{
    height: 10px;
    background-color: $dark-gold;
}
.footer{
    background-image: url(../images/footer.png);
    color: $main-gold;
    padding: 60px 0 0 0;
    @media screen and (max-width: 992px) {
       text-align: center;
    }
}

// End Footer

